:root {
    --color-slate-100: #eff5ff;
    --color-slate-200: #dee5f1;
    --color-slate-300: #c6cdd9;
    --color-slate-400: #abb2bd;
    --color-slate-500: #8e95a0;
    --color-slate-600: #717781;
    --color-slate-700: #525862;
    --color-slate-800: #353a43;
    --color-slate-900: #181d26;
}