:root {
    --lesson-header-height: var(--site-header-height);
    --lesson-aside-sticky-top: var(--lesson-header-height); // Calculate the top offset for sticky positioning of the lesson stats column, based on the height of the masthead.
    
    --prose-body-font-family: var(--ui-typography-body-font-family);

    --site-header-z-index: var(--z-index-100);
}