:root {
    --ui-color-background-accent: light-dark(var(--color-blue-200), var(--color-blue-700));
    --ui-color-background-accent-dark: var(--color-blue-800);
    --ui-color-background-accent-muted: light-dark(var(--color-blue-100), var(--color-blue-900));
    --ui-color-background-accent-strong: light-dark(var(--color-blue-600), var(--color-blue-400));

    --ui-color-foreground-accent: light-dark(var(--color-blue-700), var(--color-blue-300));
    --ui-color-foreground-accent-hover: light-dark(var(--color-blue-600), var(--color-blue-400));
    --ui-color-foreground-accent-pressed: light-dark(var(--color-blue-700), var(--color-blue-200));

    --ui-color-border-accent: light-dark(var(--color-blue-400), var(--color-blue-600));
    --ui-color-border-accent-strong: light-dark(var(--color-blue-600), var(--color-blue-400));

    --ui-border-subtle: var(--border-width-sm) dashed color-mix(in srgb, currentColor, transparent 70%);
}

:is([data-lesson="2"], [data-syllabus="2"]) {
    --ui-color-background-accent: light-dark(var(--color-aqua-200), var(--color-aqua-700));
    --ui-color-background-accent-dark: var(--color-aqua-800);
    --ui-color-background-accent-muted: light-dark(var(--color-aqua-100), var(--color-aqua-900));
    --ui-color-background-accent-strong: light-dark(var(--color-aqua-600), var(--color-aqua-400));

    --ui-color-foreground-accent: light-dark(var(--color-aqua-700), var(--color-aqua-300));
    --ui-color-foreground-accent-hover: light-dark(var(--color-aqua-600), var(--color-aqua-400));
    --ui-color-foreground-accent-pressed: light-dark(var(--color-aqua-700), var(--color-aqua-200));

    --ui-color-border-accent: light-dark(var(--color-aqua-400), var(--color-aqua-600));
    --ui-color-border-accent-strong: light-dark(var(--color-aqua-600), var(--color-aqua-400));
}

:is([data-lesson="3"], [data-syllabus="3"]) {
    --ui-color-background-accent: light-dark(var(--color-purple-200), var(--color-purple-700));
    --ui-color-background-accent-dark: var(--color-purple-800);
    --ui-color-background-accent-muted: light-dark(var(--color-purple-100), var(--color-purple-900));
    --ui-color-background-accent-strong: light-dark(var(--color-purple-600), var(--color-purple-400));

    --ui-color-foreground-accent: light-dark(var(--color-purple-700), var(--color-purple-300));
    --ui-color-foreground-accent-hover: light-dark(var(--color-purple-600), var(--color-purple-400));
    --ui-color-foreground-accent-pressed: light-dark(var(--color-purple-700), var(--color-purple-200));

    --ui-color-border-accent: light-dark(var(--color-purple-400), var(--color-purple-600));
    --ui-color-border-accent-strong: light-dark(var(--color-purple-600), var(--color-purple-400));
}

:is([data-lesson="4"], [data-syllabus="4"]) {
    --ui-color-background-accent: light-dark(var(--color-olive-200), var(--color-olive-700));
    --ui-color-background-accent-dark: var(--color-olive-800);
    --ui-color-background-accent-muted: light-dark(var(--color-olive-100), var(--color-olive-900));
    --ui-color-background-accent-strong: light-dark(var(--color-olive-600), var(--color-olive-400));

    --ui-color-foreground-accent: light-dark(var(--color-olive-700), var(--color-olive-300));
    --ui-color-foreground-accent-hover: light-dark(var(--color-olive-600), var(--color-olive-400));
    --ui-color-foreground-accent-pressed: light-dark(var(--color-olive-700), var(--color-olive-200));

    --ui-color-border-accent: light-dark(var(--color-olive-400), var(--color-olive-600));
    --ui-color-border-accent-strong: light-dark(var(--color-olive-600), var(--color-olive-400));
}