
// Lesson Levels

.lesson-list {
    --l1-box-padding: var(--spacing-1);
    --l1-box-border-width: var(--ui-border-width);

    --l1-label-font-family: var(--ui-typography-subheading-font-family);
    --l1-label-font-size: var(--ui-typography-subheading-font-size);
    --l1-label-font-weight: var(--ui-typography-subheading-font-weight);
    --l1-label-line-height: var(--ui-typography-subheading-line-height);
    --l1-label-text-transform: none;

    --l2-label-font-family: var(--ui-typography-subheading-font-family);
    --l2-label-font-size: var(--typography-font-size-lower-1);
    --l2-label-font-weight: var(--ui-typography-subheading-font-weight);
    --l2-label-line-height: var(--ui-typography-subheading-line-height);
    --l2-label-text-transform: uppercase;

    --l3-label-font-family: var(--ui-typography-body-font-family);
    --l3-label-font-size: var(--typography-font-size-base);
    --l3-label-font-weight: var(--ui-typography-body-font-weight);
    --l3-label-line-height: var(--ui-typography-body-line-height);
    --l3-label-text-transform: none;

    --code-font-family: var(--ui-typography-subheading-font-family);
    --code-font-size: var(--typography-font-size-lower-1);
    --code-font-weight: normal;
    --code-line-height: var(--ui-typography-subheading-line-height);
    --code-text-transform: uppercase;


    --link-underline-offset: var(--prose-link-underline-offset);
    --link-underline-thickness: var(--prose-link-underline-thickness);
    --link-underline-color: var(--prose-link-underline-color);

    list-style: none;

    &.l1 {
        display: flex;
        flex-direction: column;
        gap: var(--ui-spacing-unit, 1rem);
    }
    &.l2 {
        margin-block-start: var(--ui-spacing-unit, 1rem);
        border-block-start: 1px dashed var(--ui-color-border-accent);
        padding-block-start: var(--ui-spacing-unit, 1rem);
    }

    a {
        text-decoration: none;

        @media (hover: hover) {
            &:hover {
                text-decoration: none;

                .lesson-item-label {
                    color: var(--link-hover-color);
                    text-decoration: underline;
                }
            }
        }

        &:active {
            text-decoration: none;
            
            .lesson-item-label {
                color: var(--link-active-color);
                text-decoration: underline;
            }
        }
    }
}

.lesson-list-item {
    &.l1 {
        border: var(--l1-box-border-width) solid currentColor;
        padding: var(--l1-box-padding);

        &:has(a[href]) {
            background-color: var(--ui-color-background-accent-muted);
            border-color: var(--ui-color-border-accent);
        }
    }
}

// Lesson items

.lesson-item {
    align-items: center;
    display: flex;
    gap: var(--ui-spacing-unit, 1rem);
    justify-content: space-between;
    
    .progress-panel & {
        position: relative;

        &.current {
            &:before {
                content: "";
                background-color: var(--ui-color-border-accent);
                border-radius: 50%;
                position: absolute;
                block-size: 0.75rem;
                inline-size: 0.75rem;
                inset-inline-start: calc((var(--l1-box-padding) + var(--l1-box-border-width) / 2) * -1);
                inset-block-start: 50%;
                translate: -50% -50%;
            }
        }
    }
}

span.lesson-item {
    cursor: not-allowed;
    opacity: var(--ui-opacity-disabled, 0.6);
}

.lesson-item-label {
    flex-grow: 1;
    text-decoration-color: var(--link-underline-color);
    text-decoration-thickness: var(--link-underline-thickness);
    text-underline-offset: var(--link-underline-offset);

    &.l1 {
        font-family: var(--l1-label-font-family);
        font-size: var(--l1-label-font-size);
        font-weight: var(--l1-label-font-weight);
        line-height: var(--l1-label-line-height);
        text-transform: var(--l1-label-text-transform);
    }

    &.l2 {
        font-family: var(--l2-label-font-family);
        font-size: var(--l2-label-font-size);
        font-weight: var(--l2-label-font-weight);
        line-height: var(--l2-label-line-height);
        text-transform: var(--l2-label-text-transform);
    }

    &.l3 {
        font-family: var(--l3-label-font-family);
        font-size: var(--l3-label-font-size);
        font-weight: var(--l3-label-font-weight);
        line-height: var(--l3-label-line-height);
        text-transform: var(--l3-label-text-transform);
    }
}

.lesson-item-code {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    font-weight: var(--code-font-weight);
    line-height: var(--code-line-height);
    text-transform: var(--code-text-transform);
    opacity: var(--ui-opacity-muted);

    .lesson-item.l1 & {
        align-self: baseline;
        font-family: var(--l1-label-font-family);
        font-size: var(--l1-label-font-size);
        font-weight: var(--l1-label-font-weight);
        line-height: var(--l1-label-line-height);
        text-transform: var(--l1-label-text-transform);
    }
}