.syllabus-panel {
    position: fixed;
    background: var(--ui-color-background-surface);
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-inline-start: auto;
    block-size: 100%;
    max-inline-size: 100%;
    padding: var(--site-block-padding, var(--spacing-fluid-x2));
    padding-inline-end: calc(var(--site-block-padding, var(--spacing-fluid-x2)) + env(safe-area-inset-left));
}

.syllabus-nav {
    margin-block-start: 1rem;

    ul {
        list-style: none;
    }
}